/* You can add global styles to this file, and also import other style files */

html, body {
     height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    color: #673ab7;
}

footer {
    text-align: center;
    padding-top: 70px;
    color: gray;
    font-style: italic;
}

table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: thin solid black;

}

tr:nth-child(even) {
    background-color: rgba(103,58,183,0.10);
}

td, th {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (orientation: portrait) {
    table {
        width: 90%;
    }
}

@media (orientation: landscape) {
    table {
        width: 80%;
    }
}
